body {
    background-color: rgb(31, 31, 31);
    background-image: url("https://images.unsplash.com/photo-1488330890490-c291ecf62571?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-size: auto;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

header {
    align-items: center;
    background-color: rgb(31, 31, 31);
    display: flex;
    height: 150px;
    justify-content: center;
    margin-left: 10%;
    width: 80%;
}

.headerTagline {
    align-items: center;
    color: white;
    display: flex;
    justify-content: center;
}

main {
    background-color: rgb(31, 31, 31);
    color: white;
    margin-left: 10%;
    width: 80%;
}

.row {
    align-items: center;
    display: flex;
    justify-content: center;
}

.col-lg {
    margin-left: 20px;
    margin-right: 20px;
}

.bioPhoto {
    height: 300px;
    width: 300px;
}

.bioText {
    line-height: 25px;
    width: 500px;
}

ul {
    line-height: 25px;
}

footer {
    align-items: center;
    background-color: rgb(31, 31, 31);
    color: white;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    width: 80%;
}